/* .box .box-img{
    width: 100px;
    height: 100px;
} */

/* [class*="col"],
#jumbotron>.box {
    min-height: 80px;
	border: 2px dashed aqua;
}

.box.box-img {
    height: 300px;
	width: 300px;
}


.box.box-icon {
	height: 10px;
	width: 500px;
}


[class*="col"]>.box {
	min-height: 80px;
	border: none;
} */

/* FINE CLASSI DI DEBUG DA RIMUOVERE */

.navbar-dark {
	background-color: #2c3e50 !important;
}
ul li{
    list-style: none;
    /* padding: 0 1rem; */
}
ul li a{
    padding: 0 1rem;
    text-decoration: none;
    color: inherit;
}

#jumbotron,
#about{
    background-color: #1ABC9C;
    color: white;
}

#jumbotron img{
    width: 100%;
}

.box,
.box-icon{
    padding: 1rem;
    border: 1px solid black;
}

img{
   /* height: 100%; */
   width: 100%;
   object-fit: cover;
}

input{
    border: none;
    border-bottom: 1px solid lightgray;
}

.footer{
    min-height: 100px;
}

.upper-footer{
    background-color: #3A546D;
    color: #fff;
}

.bottom-footer{
    background-color: #2C3E50;
    color: #fff;
}



label{
    display: block;
}

svg::after span,
svg::before span{
    width: 50px;
    height: 50px;
    padding: 0 20px;
    background-color: black;
}